<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <title>Card</title>
    
</head>

<body>  
    <%- include('./partials/nav.ejs')  %> 
        <center>
        <!-- Cards-->
       
        <div data-aos="fade-up" class="center">

            <div class="container">
                <img class="img1"
                    src="https://images.unsplash.com/photo-1611635473151-88f447ed3140?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    alt="logo">
                <p class="par">
                    <span>L</span>uck is great, but most of life is hard work.
                </p>

                <input type="submit" value="Submit" title="Submit">

            </div>

        </div>
        <!-- End cards-->
        <!-- Cards-->
        <div data-aos="fade-down"" class=" center">

            <div class="container">
                <img class="img1"
                    src="https://images.unsplash.com/photo-1628804482485-ba1865b176fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    alt="logo">
                <p class="par">
                    <span>L</span>uck is great, but most of life is hard work.
                </p>

                <input type="submit" value="Submit" title="Submit">

            </div>

        </div>
        <!-- End cards-->
        <!-- Cards-->
        <div data-aos="fade-right" class="center">

            <div class="container">
                <img class="img1"
                    src="https://images.unsplash.com/photo-1628803376909-621c888b7672?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="logo">
                <p class="par">
                    <span>L</span>uck is great, but most of life is hard work.
                </p>

                <input type="submit" value="Submit" title="Submit">

            </div>

        </div>
        <!-- End cards-->
        <!-- Cards-->
        <div data-aos="fade-up" class="center">

            <div class="container">
                <img class="img1"
                    src="https://images.unsplash.com/photo-1628964172604-bc673ec377c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                    alt="logo">
                <p class="par">
                    <span>L</span>uck is great, but most of life is hard work.
                </p>

                <input type="submit" value="Submit" title="Submit">

            </div>

        </div>
        <!-- End cards-->
        <!-- Cards-->
        <div data-aos="fade-up-right" class="center">

            <div class="container">
                <img class="img1"
                    src="https://images.unsplash.com/photo-1628191136728-cfcf3622da1c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    alt="logo">
                <p class="par">
                    <span>L</span>uck is great, but most of life is hard work.
                </p>

                <input type="submit" value="Submit" title="Submit">

            </div>

        </div>
        <!-- End cards-->
        <!-- Cards-->
        <div data-aos="fade-up" class="center">

            <div class="container">
                <img class="img1"
                    src="https://images.unsplash.com/photo-1628958679198-d97eee188e6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=806&q=80"
                    alt="logo">
                <p class="par">
                    <span>L</span>uck is great, but most of life is hard work.
                </p>

                <input type="submit" value="Submit" title="Submit">

            </div>
        </div>
        <!-- End cards-->
    </center>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>